// Single page scenario
.single {
	h1 {
		font-weight: bold;
		color: $darkestGray;
		&.title {
			margin: 24px 0 8px 0;
			line-height: 1.1em;
		}
	}
	h5 {
		margin: 24px auto 24px 2px;
		font-size: $h5-info-font-size;
		line-height: 1.32em;
	}
	// WP image caption text
	.wp-caption-text {
		font-size: 0.85em;
		margin: 6px auto 10px auto;
	}
}

// Tag info
.post_tags {
	a {
		&, &:hover, &:visited {
			font-size: 1em;
			color: $darkestGray;
			margin: 0 8px 8px 0;
		}
		&:hover, &:active {
			color: $black;
		}
	}
}

// Excerpts of articles and/or pages
.excerpt {
	margin-bottom: 24px;
	&.list {
		margin-bottom: 48px;
	}
	h1, h2 {
		font-weight: bold;
		line-height: 1.25em;
		margin-bottom: 16px;
	}
	hr {
		display: block;
	    height: 1px;
	    border: 0;
	    border-top: 1px dotted $darkestGray;
	    margin: 1em 0;
	    padding: 0;
	}
	p {
		margin: 16px auto 16px auto;
		overflow: hidden;
	}
}

// Blog specific modifications
#blog {
	br {
		font-size: 1.4em;
	}
	.excerpt {
		margin-bottom: 40px;
	}
}

// Blog detail ribbon
.single, .excerpt, #blog {
	h5 {
		font-size: $h5-info-font-size;
		color: lighten( $darkestGray, 50% );
		border-left: 3px solid $primary;
		padding-left: 12px;
		margin: 16px auto 26px 2px;
		line-height: 1.25em;
	}
}

// Floating tiles formatting, aka "expo"
.card-wrapper{
	min-height: 100% !important;
	height: auto;
	.card {
		overflow: hidden;
		min-height: 100% !important;
		height: auto;
		@include rounded( 2px );
		padding: 8px 24px 8px 24px;
		background-color: $white;
		@include box-shadow(1px, 1px, 8px, rgba(0, 0, 0, 0.25), false);
		hr {
			margin: 12px auto 12px auto;
			height: 0;
			border-top: solid $lighterGray 2px;
			@include rounded(50%);
		}
	}
}

.archive-wrapper {

}

// Tablet screens
@media (max-width: 991px) {

	.single {
		h1 {
			font-size: 38px;
		}
	}

	.single, .excerpt, #blog {
		h5 {
			margin: 16px auto 22px 2px;
		}
	}

	.card-wrapper {
		margin: auto auto 24px auto;
	}

	.list.card-wrapper {
		&:last-child {
			margin-bottom: 24px;
		}
	}

	.archive-wrapper {
		h1 {
			color: $white;
			padding: 4px 8px 4px 8px;
			background-color: rgba(0, 0, 0, 0.5);
			display: inline;
		}
	}
}

// Small screens
@media (max-width: 767px) {

	.single {
		&.card-wrapper {
			padding-left: 8px;
			padding-right: 8px;
			.card {
				padding-left: 14px;
				padding-right: 14px;
			}
		}
		h1 {
			font-size: 36px;
		}
	}

	h5 {
		font-size: 1em;
	}

	.card-wrapper {
		margin: auto auto 16px auto;
	}

	.pull-right-md, 
	.pull-left-md {
		float: none !important;
	}
}