.commentlist {
	p {
		margin: 16px auto 16px auto;
	}
}

#respond {
	h3 {
		font-size: 26px;
	}
	label {
		margin-left: 8px;
		small {
			font-family: 'Open Sans', sans-serif;
			font-size: 14px;
			color: $darkestGray;
			font-weight: normal;
		}
	}
	textarea, 
	input[type="text"] {
		max-width: 100%;
		min-height: 28px;
		padding: 1px 5px 1px 5px;
		border-color: $primary;
		border-width: 1px;
		color: $darkestGray;
		@include border-radius(3px);
		&:focus {
			outline: none;
		}
	}
	input[type="text"] {
		width: 260px;
		border-top-width: 0;
		border-right-width: 0;
		border-left-width: 0;
	}
	input[name="submit"] {
		
	}
}

@media (max-width: 767px) {

	#respond {
		text-align: center;
		label,
		input {
			float: left;
		}
		input[type="text"] {			
			width: 100%;
		}
		input[name="submit"] {
			float: none;
		}
		textarea {
			width: 100%;
		}
		label {
			margin: 0 auto 8px 8px;
			&:last-of-type {
				margin-bottom: 16px;
			}
			small {
				font-weight: bold;
			}
		}
	}
}