footer {
	background-color: rgb(40, 40, 45);
	color: $white;
	padding-bottom: 30px;
	margin-top: 50px;
	text-align: left;
}

#copyright {
	text-align: center;
	font-family: 'Patua One', cursive;
	font-size: 1em;
	color: $lightGray;
}

@media (max-width: 767px) {

	footer {
		#contact-form-wrapper {
			#contact-form {
				input {
					margin-bottom: 14px;
					width: 100%;
				}
			}
		}
		textarea {
			width: 100%;
			height: 130px;
		}
	}
}