.gray {
	width: 100%;
	height: auto;
	background-color: $lightestGray;
	// @include box-shadow(inset 0 0 10px rgba(0, 0, 0, 0.05));
	&.xtra-padding {
		padding-top: 30px;
	}
}

#resume, #contact, #blog, #work {
	margin: 20px auto 30px auto;
}

#contact {
	input, textarea {
		background-color: $white;
		width: 100%;
		color: $darkestGray;
		padding: 4px 5px 4px 5px;
		border: 1px solid $primary;
		border-radius: 3px;
		margin-top: 2px;
		@include transition(background-color .2s);
	}
	p {
		float: left;
		margin: 4px auto 4px auto;
		width: 100%;
	}
	textarea, #contact-form input {
		margin-bottom: 14px;
		float: left;
	}
	textarea {
		width: 100%;
		height: 120px;
	}
	#contact-form {
		#emailInput {
			float: right;
		}
	}
	.wpcf7-form-control.wpcf7-textarea {
		height: 336px;
	}
	input[type="submit"] {
		@extend a.button;
		&:hover {
			@extend a.button:hover;
			color: $white;
		}
		&:active {
			@extend a.button:active;
		}		
		@extend a.button:link;
		@extend a.button.blue;
	}
}

.progress {
	height: 28px;
	position: relative;
	@include box-shadow(1px 1px 4px rgba(0, 0, 0, 0.25));
	background-color: $white;
	.progress-bar {
		background-color: $primary;
		box-shadow: none;
		z-index: -99;
		span {
			font-size: 1.5em;
			font-family: 'Open Sans', sans-serif;
			padding-top: 3px;
			position: absolute;
		    display: block;
		    width: 100%;
		    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
		}		
	}
}

.wpcf7-form {
	input {
		max-width: 100%;
	}
}

@media (max-width: 767px) {

	#contact-form{
		.wpcf7-form-control.wpcf7-textarea {
			height: 260px;
		}
	}
}