#about, #work, #blog, #contact {
	h1 {
		background-color: $lightGray;
		padding-left: 16px;
		padding-right: 16px;
		display: inline-block;
	}
}

.progress {
	height: 28px;
	position: relative;
	@include box-shadow(1px, 1px, 4px, rgba(0, 0, 0, 0.25));
	background-color: $white;
	.progress-bar {
		background-color: $primary;
		box-shadow: none;
		z-index: -99;
		span {
			font-size: 1.5em;
			font-family: 'Open Sans', sans-serif;
			padding-top: 3px;
			position: absolute;
		    display: block;
		    width: 100%;
		    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
		}		
	}
}

@media (max-width: 767px) {
	#about, #work, #blog, #contact {
		h1 {
			padding: 6px 8px 6px 8px;
		}	
	}
}