#search {
	font-family: 'Roboto', sans-serif;
	input {
		height: 32px;
		border: solid 1px $primary;
		float: left;
		&[type="text"] {
			width: calc(100% - 40px);
			-webkit-border-radius: 3px 0 0 3px;
			-moz-border-radius: 3px 0 0 3px;
			border-radius: 3px 0 0 3px;
			margin-right: 0;
			padding-left: 6px;
			padding-right: 6px;
			color: $darkestGray;
			&:focus {
				outline: none;
			}
		}
		&[type="submit"] {
			width: 40px;
			background-color: $primary;			
			@include transition(background-color .3s);
			color: $white;
			-webkit-border-radius: 0 3px 3px 0;
			-moz-border-radius: 0 3px 3px 0;
			border-radius: 0 3px 3px 0;
			margin-left: 0;
			padding-bottom: 4px;
			&:hover {
				background-color: $darkerBlue;
				@include transition(background-color .3s);
			}
		}
	}
}