/* Colors */

// Custom primary colors
$customLightBlue: darken(#29B6F6, 4%);
$customRed: #FF0000;

// Common colors
$white: #FFF;
$black: #000;
$lightGray: #E0E0E4;
$lightestGray: #F7F7FA;
$gray: #D0D0D6;
$darkGray: #9D9DA4;
$darkerGray: #202024;
$darkestGray: #0E0E10;
$darkerBlue: #13A0E0;

// Special colors
$transparent: rgba(0, 0, 0, 0);

// Used primary colors
$primary: $customLightBlue;

/* Abbreviations */
$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';

// Blog
$h5-info-font-size: 14px;